<!DOCTYPE html>

{% load customtags %}
{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1> Spartigami </h1>

    <div id="options" class="options">
        <div id="show-stat">
            <input name="show-stat" id="show-stat-input" type="checkbox">
            <label for="show-stat"> Show stat </label>
        </div>
        <div id="show-grad">
            <input name="show-grad" id="show-grad-input" type="checkbox">
            <label for="show-grad"> Show gradient </label>
        </div>
        <div id="menu">
            <select name="mode" id="mode">
                <option value="count"> Count </option>
                <option value="record"> Record </option>
                <option value="first"> First season </option>
            </select>
        </div>
    </div>

    <div class="table-container">
        <table id="scoretable">
            <thead>
                <tr id="header">
                    <th> X </th>
                    {% for i in head_range %}
                        <th> {{i}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in row_range %}
                    <tr>
                        <th>
                            {{i}}
                        </th>
                        {% for j in head_range %}
                            {% if j < i %}
                                <td style="background-color: black"> </td>
                            {% else %}
                                {% with j|find_score_pair_index:i as idx %}
                                    {% if data|index:idx == 0 %}
                                        <td> </td>
                                    {% else %}
                                        <td class="clickable" cell-id="{{idx}}"> </td>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="infobox" class="info-box">
        <span id="infobox-close" class="close">&times;</span>
        <p id="infobox-content"></p>
    </div>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>