<!DOCTYPE html>

{% load customtags %}
{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="section-header">
        <h1> Spartigami </h1>
    </div>

    <div id="options" class="options">
        <label for="show-stat-input">
            <input type="checkbox" id="show-stat-input">
            <span class="checkmark"></span>
            Show stat
        </label>

        <label for="show-grad-input">
            <input type="checkbox" id="show-grad-input">
            <span class="checkmark"></span>
            Show gradient
        </label>

        <select name="mode" id="mode">
            <option value="count"> Count </option>
            <option value="record"> Record </option>
            <option value="first"> First season </option>
        </select>
    </div>

    <div class="table-container">
        <table id="scoretable">
            <thead>
                <tr id="header">
                    <th> X </th>
                    {% for i in head_range %}
                        <th> {{i}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in row_range %}
                    <tr>
                        <th>
                            {{i}}
                        </th>
                        {% for j in head_range %}
                            {% if j < i %}
                                <td style="background-color: black"> </td>
                            {% else %}
                                {% with j|find_score_pair_index:i as idx %}
                                    {% if idx|ifinlist:exclude_list %}
                                        <td style="background-color: black;"> </td>
                                    {% elif data|index:idx != 0 %}
                                        <td class="clickable" cell-id="{{idx}}"> </td>
                                    {% else %}
                                        <td> </td>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section-header">
        <h1> FAQ </h1>
    </div>

    <div class="faq">
        <h2>
            What is Spartigami?
        </h2>
        <p>
            Scorigami, for the Michigan State Spartans football team.
        </p>
        <h2>
            What is Scorigami?
        </h2>
        <p>
            Scorigami is a concept thought up by Jon Bois. It is the study of unique scores in American Football. The original site
            can be seen <a href="https://nflscorigami.com/">here</a>, as well as a more in-depth explanation of Scorigami. Essentially,
            while many scores are possible, due to the scoring in football some are very rare.
        </p>
        <h2>
            What makes Spartigami different?
        </h2>
        <p>
            It is just a different dataset, really. Instead of all NFL games, I used every MSU football game recorded on
            <a href="https://www.sports-reference.com/cfb/schools/michigan-state/"> sports-reference.com</a>. The differences didn't
            really manifest until I actually got a good look at the data. Of course, the dataset is smaller, being just over 1000 games
            compared to over 17,000 NFL games. This means fewer overall Scorigamis, and Scorigamis are much more frequent because there
            haven't been as many yet. Additionally, we get to see the data from a fixed perspective. In traditional Scorigami,
            the scores are paired by the winning score preceding the losing score. I chose to keep with this convention, but we now
            have a fixed observer (Michigan State) rather than a neutral observation where every team participates. As a result, I can
            compile the record for each pair of scores, since in traditional Scorigami there isn't really a side to "pick" who won.
        </p>
        <h2>
            What do the black squares mean?
        </h2>
        <p>
            Most of those are scores where the loser has more points than the winner. However, in the one-point row, there are a small
            amount of impossible scores. It is possible to score exactly one point in college football with a one-point safety during
            a PAT attempt, just like in the NFL. Unlike the NFL, this actually has happened in college football. However, no game
            involved Michigan State, and no game ended with either team only having one point.
        </p>
        <h2>
            Why do ties look possible?
        </h2>
        <p>
            With overtime rules in college football changing in 1995, ties are no longer possible. However, there have been many ties
            in history, and mixing in black squares with legitmate records would just look weird.
        </p>
    </div>

    <div id="infobox" class="info-box">
        <span id="infobox-close" class="close">&times;</span>
        <div class="infobox-content" id="infobox-content"></p>
    </div>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>