<!DOCTYPE html>

{% load customtags %}
{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="section-header">
        <h1> Spartigami </h1>
    </div>

    <div id="options" class="options">
        <label for="show-stat-input">
            <input type="checkbox" id="show-stat-input">
            <span class="checkmark"></span>
            Show stat
        </label>

        <label for="show-grad-input">
            <input type="checkbox" id="show-grad-input">
            <span class="checkmark"></span>
            Show gradient
        </label>

        <select name="mode" id="mode">
            <option value="count"> Count </option>
            <option value="record"> Record </option>
            <option value="first"> First season </option>
        </select>
    </div>

    <div class="table-container">
        <table id="scoretable">
            <thead>
                <tr id="header">
                    <th> X </th>
                    {% for i in head_range %}
                        <th> {{i}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in row_range %}
                    <tr>
                        <th>
                            {{i}}
                        </th>
                        {% for j in head_range %}
                            {% if j < i %}
                                <td style="background-color: black"> </td>
                            {% else %}
                                {% with j|find_score_pair_index:i as idx %}
                                    {% if idx|ifinlist:exclude_list %}
                                        <td style="background-color: black;"> </td>
                                    {% elif data|index:idx != 0 %}
                                        <td class="clickable" cell-id="{{idx}}"> </td>
                                    {% else %}
                                        <td> </td>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section-header">
        <h1> FAQ </h1>
    </div>

    <div class="faq">
        <h2>
            What is Spartigami?
        </h2>
        <p>
            Scorigami, for the Michigan State Spartans football team.
        </p>
        <h2>
            What is Scorigami?
        </h2>
        <p>
            Scorigami is a concept thought up by Jon Bois. It is the art of building final scores that have never happened before
            in NFL history.
        </p>
    </div>

    <div id="infobox" class="info-box">
        <span id="infobox-close" class="close">&times;</span>
        <div class="infobox-content" id="infobox-content"></p>
    </div>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>